samples/sentinel/playbooks/guardduty-response-playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "GuardDuty-AutoResponse",
      "type": "String"
    },
    "SlackWebhookUrl": {
      "type": "String",
      "metadata": {
        "description": "Slack webhook URL for notifications"
      }
    },
    "AWSAccessKeyId": {
      "type": "String",
      "metadata": {
        "description": "AWS Access Key for remediation actions"
      }
    },
    "AWSSecretAccessKey": {
      "type": "SecureString",
      "metadata": {
        "description": "AWS Secret Access Key for remediation actions"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionReference",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Parse_GuardDuty_Alert": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "GuardDutyFindingId": {"type": "string"},
                    "AWSAccount": {"type": "string"},
                    "AWSRegion": {"type": "string"},
                    "FindingType": {"type": "string"},
                    "SeverityScore": {"type": "string"},
                    "ResourceType": {"type": "string"},
                    "InstanceId": {"type": "string"},
                    "RemoteIP": {"type": "string"}
                  }
                }
              }
            },
            "Determine_Response_Action": {
              "runAfter": {
                "Parse_GuardDuty_Alert": ["Succeeded"]
              },
              "type": "Switch",
              "expression": "@body('Parse_GuardDuty_Alert')?['FindingType']",
              "cases": {
                "CryptoCurrency_Mining": {
                  "case": "CryptoCurrency",
                  "actions": {
                    "Block_Mining_Traffic": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://ec2.@{body('Parse_GuardDuty_Alert')?['AWSRegion']}.amazonaws.com/",
                        "headers": {
                          "Authorization": "AWS4-HMAC-SHA256 Credential=@{parameters('AWSAccessKeyId')}/...",
                          "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": {
                          "Action": "AuthorizeSecurityGroupEgress",
                          "GroupId": "@{variables('SecurityGroupId')}",
                          "IpPermissions": [
                            {
                              "IpProtocol": "tcp",
                              "FromPort": 8333,
                              "ToPort": 8333,
                              "IpRanges": [{"CidrIp": "0.0.0.0/0", "Description": "Block Bitcoin traffic"}]
                            }
                          ]
                        }
                      }
                    },
                    "Send_Mining_Alert": {
                      "runAfter": {
                        "Block_Mining_Traffic": ["Succeeded"]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@parameters('SlackWebhookUrl')",
                        "body": {
                          "text": "🚨 CRYPTOCURRENCY MINING DETECTED 🚨",
                          "attachments": [
                            {
                              "color": "danger",
                              "fields": [
                                {"title": "AWS Account", "value": "@{body('Parse_GuardDuty_Alert')?['AWSAccount']}", "short": true},
                                {"title": "Instance", "value": "@{body('Parse_GuardDuty_Alert')?['InstanceId']}", "short": true},
                                {"title": "Severity", "value": "@{body('Parse_GuardDuty_Alert')?['SeverityScore']}", "short": true},
                                {"title": "Action Taken", "value": "Blocked cryptocurrency traffic", "short": true}
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "Malware_Detection": {
                  "case": "Trojan",
                  "actions": {
                    "Isolate_Instance": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://ec2.@{body('Parse_GuardDuty_Alert')?['AWSRegion']}.amazonaws.com/",
                        "headers": {
                          "Authorization": "AWS4-HMAC-SHA256 Credential=@{parameters('AWSAccessKeyId')}/...",
                          "Content-Type": "application/x-amz-json-1.1"
                        },
                        "body": {
                          "Action": "ModifyInstanceAttribute",
                          "InstanceId": "@{body('Parse_GuardDuty_Alert')?['InstanceId']}",
                          "Groups": ["@{variables('IsolationSecurityGroupId')}"]
                        }
                      }
                    },
                    "Create_Memory_Snapshot": {
                      "runAfter": {
                        "Isolate_Instance": ["Succeeded"]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://ec2.@{body('Parse_GuardDuty_Alert')?['AWSRegion']}.amazonaws.com/",
                        "body": {
                          "Action": "CreateSnapshot",
                          "VolumeId": "@{variables('RootVolumeId')}",
                          "Description": "Forensic snapshot for GuardDuty finding @{body('Parse_GuardDuty_Alert')?['GuardDutyFindingId']}"
                        }
                      }
                    },
                    "Send_Malware_Alert": {
                      "runAfter": {
                        "Create_Memory_Snapshot": ["Succeeded"]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@parameters('SlackWebhookUrl')",
                        "body": {
                          "text": "🦠 MALWARE DETECTED - INSTANCE ISOLATED 🦠",
                          "attachments": [
                            {
                              "color": "danger",
                              "fields": [
                                {"title": "AWS Account", "value": "@{body('Parse_GuardDuty_Alert')?['AWSAccount']}", "short": true},
                                {"title": "Instance", "value": "@{body('Parse_GuardDuty_Alert')?['InstanceId']}", "short": true},
                                {"title": "Malware Type", "value": "@{body('Parse_GuardDuty_Alert')?['FindingType']}", "short": true},
                                {"title": "Actions Taken", "value": "Instance isolated, snapshot created", "short": true}
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "Data_Exfiltration": {
                  "case": "Exfiltration",
                  "actions": {
                    "Block_Suspicious_IP": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "https://ec2.@{body('Parse_GuardDuty_Alert')?['AWSRegion']}.amazonaws.com/",
                        "body": {
                          "Action": "AuthorizeSecurityGroupIngress",
                          "GroupId": "@{variables('SecurityGroupId')}",
                          "IpPermissions": [
                            {
                              "IpProtocol": "-1",
                              "IpRanges": [{"CidrIp": "@{body('Parse_GuardDuty_Alert')?['RemoteIP']}/32", "Description": "Block exfiltration IP"}]
                            }
                          ]
                        }
                      }
                    },
                    "Enable_S3_Logging": {
                      "runAfter": {
                        "Block_Suspicious_IP": ["Succeeded"]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "PUT",
                        "uri": "https://s3.@{body('Parse_GuardDuty_Alert')?['AWSRegion']}.amazonaws.com/@{variables('S3BucketName')}?logging",
                        "body": {
                          "BucketLoggingStatus": {
                            "LoggingEnabled": {
                              "TargetBucket": "@{variables('LoggingBucket')}",
                              "TargetPrefix": "access-logs/"
                            }
                          }
                        }
                      }
                    },
                    "Send_Exfiltration_Alert": {
                      "runAfter": {
                        "Enable_S3_Logging": ["Succeeded"]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@parameters('SlackWebhookUrl')",
                        "body": {
                          "text": "📤 DATA EXFILTRATION DETECTED 📤",
                          "attachments": [
                            {
                              "color": "danger",
                              "fields": [
                                {"title": "AWS Account", "value": "@{body('Parse_GuardDuty_Alert')?['AWSAccount']}", "short": true},
                                {"title": "Resource", "value": "@{body('Parse_GuardDuty_Alert')?['ResourceType']}", "short": true},
                                {"title": "Suspicious IP", "value": "@{body('Parse_GuardDuty_Alert')?['RemoteIP']}", "short": true},
                                {"title": "Actions Taken", "value": "IP blocked, S3 logging enabled", "short": true}
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Send_Generic_Alert": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "@parameters('SlackWebhookUrl')",
                      "body": {
                        "text": "⚠️ GuardDuty Security Finding ⚠️",
                        "attachments": [
                          {
                            "color": "warning",
                            "fields": [
                              {"title": "Finding Type", "value": "@{body('Parse_GuardDuty_Alert')?['FindingType']}", "short": true},
                              {"title": "AWS Account", "value": "@{body('Parse_GuardDuty_Alert')?['AWSAccount']}", "short": true},
                              {"title": "Severity", "value": "@{body('Parse_GuardDuty_Alert')?['SeverityScore']}", "short": true},
                              {"title": "Action Required", "value": "Manual investigation required", "short": true}
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "Update_Incident_Status": {
              "runAfter": {
                "Determine_Response_Action": ["Succeeded"]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['WorkspaceName'])}/alerts/@{encodeURIComponent(triggerBody()?['object']?['id'])}",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "status": "Active",
                  "classification": {
                    "classificationComment": "Automated response actions executed by GuardDuty playbook",
                    "classificationReason": "SuspiciousActivity"
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azuresentinel')]",
                "connectionName": "azuresentinel",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
              }
            }
          }
        }
      }
    }
  ]
}